@import "../../styles/mixins";
@import "../../styles/variables";

.homePage{
    max-width: $content-width;
    width: 100%;
    padding: 1rem;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0px !important;
    gap: 100px;

    &__divider{
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.644) 50%, rgba(0,0,0,0) 100%);
        min-height: 1px;
        width: 100%;
    }
}