@import 'styles/reset';
@import 'styles/typography';
@import 'styles/variables';

body{
    background-color: $darkPrimary;

    #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main{
        margin-top: 70px;
    }
    }
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $darkPrimary;
  }
  
html::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
  }
  
html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #b8b8b8;
  }
