@import '../../styles/mixins';
@import '../../styles/variables';

.dashboard {
  padding: 1.5rem;
  width: 100%;

  h1 {
    font-size: 1.3rem;
    font-weight: 500;
  }

  h2 {
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.7;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s ease-in-out;

    &:hover {
      transition: 0.2s ease-in-out;
      opacity: 1;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($darkSecondary,1);
    padding: 1rem 1.5rem;

    h3 {
      font-weight: 500;
    }
  }

  &__widgets {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;
    gap: 1rem;

    @media screen and (max-width: 1265px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 678px) {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
    }

    &__orders {
      border-radius: 15px;
      overflow: hidden;
      width: 100%;
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(255, 255, 255, 0.1);
      min-height: 246px;

      @media screen and (max-width: 1265px) {
        grid-column: span 2;
      }

      @media screen and (max-width: 678px) {
        grid-column: span 1;
      }

      &__wrapper {
        width: 100%;
        padding: 1rem;
        background-color: $darkSecondary;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__noOrders {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.2rem;

          svg {
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
          }

          &__message {
            font-weight: 400;
          }
        }
      }
    }

    &__profile {
      width: 100%;
      border-radius: 15px;
      overflow: hidden;
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(255, 255, 255, 0.1);

      @media screen and (max-width: 1265px) {
        grid-column: span 1;
      }

      @media screen and (max-width: 678px) {
        grid-column: span 1;
      }

      &__wrapper {
        padding: 1rem;
        background-color: $darkSecondary;
        @include centerFlex(column);
        width: 100%;
        flex: 1;

        &__imgContainer {
          max-width: 100px;
          max-height: 100px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
          overflow: hidden;
          margin-bottom: 1rem;
          img {
            width: 100%;
          }
        }

        h3 {
          font-weight: 500;
          font-size: 1rem;
        }

        h4 {
          font-weight: 300;
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
    }

    &__cart {
      border-radius: 15px;
      overflow: hidden;
      grid-column: span 2;
      height: 100%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1265px) {
        grid-column: span 1;
      }

      @media screen and (max-width: 678px) {
        grid-column: span 1;
      }

      &__wrapper {
        padding: 2rem 1rem;
        background-color: $darkSecondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        h3 {
          font-weight: 500;
        }

        h4 {
          font-weight: 600;
        }

        h5 {
          font-weight: 300;
          font-size: 0.8rem;
          margin-bottom: 1rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
          margin-bottom: 1rem;
        }

        a {
          @include formButton;
          opacity: 1;
        }
      }
    }

    &__featured {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: #ffdd1a 0px 0px 15px;
      grid-column: span 3;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1265px) {
        grid-column: span 2;
        order: -1;
      }

      @media screen and (max-width: 678px) {
        grid-column: span 1;
      }

      .golden {
        color: black;
        background: linear-gradient(
          -90deg,
          rgb(14, 12, 7) 0%,
          rgb(255, 221, 26) 100%
        );
      }
      &__wrapper {
        padding: 1rem;
        background-color: $darkSecondary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;

        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            max-width: 100px;
          }
          h3 {
            font-size: 1.5rem;
            font-weight: 600;
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
              font-size: 1.1rem;
              font-weight: 600;
            }
            h4 {
              font-size: 0.9rem;
              font-weight: 400;
            }
          }
        }

        button {
          @include formButton();
          opacity: 1;
          margin: 0 auto;
        }
      }
    }
  }
}
