@import '../../styles/mixins';

.specs{
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h2{
        text-align: center;
        @include gradientTitle(2rem);
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        /* grid-template-columns: repeat(auto-fill,minmax(400px,1fr)); */
        gap: 2rem;
    }

    button{
        width: fit-content;
        border: none;
        font-size: .8rem;
        padding: .5rem 2rem;
        border-radius: 1rem;
        background: transparent;
        border: 1px solid white;
        color: white;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        &:hover{
            background-color: white;
            color: black;
            transition: 0.2s ease-in-out;
        }
    }
}