.card {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
  user-select: none;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;

  h5 {
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 300px;
    max-width: 300px;
    width: 100%;
    text-align: left;
  }
  p {
    font-size: 0.9rem;
    font-weight: 300;
    overflow: hidden;
    white-space: pre-wrap;
    text-align: left;
    max-width: 800px;
    width: 100%;
  }
}
