@import "../../styles/variables";

.product{
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}