@import "../../styles/mixins";

.googleLoginBtn{
    padding: .5rem 1rem;
    @include centerFlex(row);
    gap: 1rem;
    background: linear-gradient(60deg, rgb(189, 184, 255) 0%, rgba(255,255,255,1) 100%);
    background-size: 200%;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;

    svg{
        width: 1.3rem;
        height: 1.3rem;
    }

    &:hover{
        background-position: right;
        transition: 0.5s ease-in-out;
    }
}