@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: auto;
  @include centerFlex(column);
  color: white;
  /* background-color: black; */
  background: radial-gradient(
    60% 50% at center 0%,
    rgba(0, 0, 0, 0.2) 3%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 1) 100%
  );

  &__content {
    margin: 0 auto;
    max-width: $content-width;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(((700px / 4) - 3rem) - 1rem), 1fr)
    );
    gap: 3rem;
    padding: 2rem 1rem;

    &__col {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-weight: 500;
        font-size: 1.2rem;
      }

      p {
        font-weight: 300;
        opacity: 0.8;;
      }

      &:nth-child(1) {
        grid-column: span 3;
      }
      &:nth-child(5) {
        grid-column: span 2;
      }
      @media screen and (max-width: 455px) {
        &:nth-child(1) {
          grid-column: span 2 !important;
        }
        &:nth-child(5) {
          grid-column: span 2 !important;
        }
      }

      &__mail {
        user-select: none;
        cursor: pointer;
        padding: 0.7rem 1rem;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.356);
        background-color: #0f0f0f42;
        width: 100%;
        max-width: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover {
          transition: 0.3s ease-in-out;
          background-color: #0a0a0a;
        }

        p {
          font-size: 0.9rem;
          &:nth-child(2) {
            opacity: 0.6;
          }
        }

        svg {
          width: 2.6rem;
          height: 2.6rem;
          grid-row: span 2;
        }
      }

      &__socials {
        margin-top: 1rem;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          @include link;
        }
      }

      &__links {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
          width: fit-content;
          @include link;
        }
      }
    }
  }

  &__rights {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    hr {
      max-width: 150px;
      width: 100%;
    }
  }
}
