@import '../../styles/mixins';

.emptyCart{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    h2{
       font-weight: 500; 
    }

    p{
        margin-bottom: 1rem;
        opacity: .7;
        font-weight: 300;
        font-size: .9rem
    }

    a{
        @include formButton;
    }
}