@import "../../styles/mixins";

.inactiveFilters {
  @media screen and (max-width: 900px) {
    display: none !important;
  }
}

@keyframes enterAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 200px;
  width: 100%;
  user-select: none;
  position: relative;

  h3,h4,h5{
    @include loadAnimation;
    border-radius: 10px;
  }

  &__backBtn {
    max-width: 300px;
    width: 100%;
    height: 35px;
    @include loadAnimation;
    border-radius: 10px;
  }

  &__priceRange {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    div {
      max-width: 300px;
      width: 100%;
      height: 20px;
      @include loadAnimation;
    border-radius: 10px;
    }
    h3 {
      max-width: 100px;
      width: 100%;
      height: 15px;
    }
    h4 {
      max-width: 80px;
      width: 100%;
      height: 15px;
    }
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h3 {
      max-width: 120px;
      width: 100%;
      height: 15px;
    }
    h4 {
      max-width: 80px;
      width: 100%;
      height: 15px;
    }
    h5 {
        max-width: 150px;
        width: 100%;
        height: 20px;
      }
  }

  @media screen and (max-width: 900px) {
    position: fixed;
    height: 100vh;
    max-width: 70vw;
    top: 0;
    left: 0;
    padding: 6rem 1rem 1rem 1rem;
    background-color: rgb(0, 0, 0);
    z-index: 888;
    animation: enterAnimation 200ms ease-in-out;
  }

  hr {
    opacity: 0.4;
  }

  &__wrapper {
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 700px;

    @media screen and (max-width: 900px) {
      position: initial !important;
    }

    &__backButton {
      @include centerFlex(row);
      cursor: pointer;
      gap: 0.7rem;
      width: 100%;
      font-weight: 600;
      font-size: 0.7rem;
      padding: 0.5rem 0.5rem;
      border: none;
      color: white;
      border-radius: 5px;
      background-color: #313136;
      transition: 0.2s ease-in-out;
      &:hover {
        transition: 0.2s ease-in-out;
        background-color: rgb(68, 68, 68);
      }
    }
  }
}
