@import '../../../styles/mixins';

.skeleton{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    &__breadcrumb{
        margin-top: 10px;
        width: 200px;
        height: 20px;
        border-radius: 10px;
        @include loadAnimation;
    }
    
}