.cart {
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 50px 1rem;

  h1 {
    font-size: 1.5rem;
  }

  hr {
    margin-top: 1rem;
    opacity: 0.2;
  }

  &__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;

    &__wrapper {
      margin: 0 auto;
      height: fit-content;
      width: 100%;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}
