@import "../../styles/mixins";

.changePassword {
  @include ModalBackground;

  &__container {
    @include ModalContainer;

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__description {
      font-size: 0.9rem;
      font-weight: 400;
    }
    
    &__warning {
        @include warningBox;
        margin: .7rem 0;
      }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__inputBox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        user-select: none;

        label {
          font-size: 0.9rem;
          font-weight: 500;
        }

        div{
          width: 100%;
          position: relative;

          input {
            color: white;
            background-color: transparent;
            padding: 0.5rem 1rem;
            border: 1px solid rgba(255, 255, 255, 0.253);
            border-radius: 15px;
            outline: none;
            width: 100%;
          }

          svg{
            position: absolute;
            right: .5rem;
            bottom: .55rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;
  
            &:hover{
              opacity: .7;
              transition: 0.2s ease-in-out;
            }
          }
        }

        // input error
        &__error{
            @include inputError;
        }

        &__errorMessage {
            @include errorMessage;
        }
      }

      button[type="submit"] {
        @include formButton(150px,
        35px);
        margin: 0 auto;
        margin-top: 1rem;
    }
    }
  }
}
