@import "../../styles/mixins";
@import "../../styles/variables";

.inactiveFilters{
  max-width: 200px;
      width: 100%;
  @media screen and (max-width: 900px) {
    display: none !important;
  }
}

@keyframes enterAnimation {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

.products {
  max-width: $content-width;
  width: 100%;
  padding: 0 1rem 2rem 1rem;
  color: white;
  flex-grow: 1;
  min-height: calc(100vh - 70px);
  user-select: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &__container {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    &__filters {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 200px;
      width: 100%;
      user-select: none;
      position: relative;
    
      @media screen and (max-width: 900px) {
        position: fixed;
        height: 100vh;
        max-width: 70vw;
        top: 0;
        left: 0;
        padding: 6rem 1rem 1rem 1rem;
        background-color: rgb(0, 0, 0);
        z-index: 888;
        animation: enterAnimation 200ms ease-in-out;
      }
    }

    &__products {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      &__mainFilters {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        @media screen and (max-width: 537px){
          flex-direction: column;
          width: 100%;
        }
      }

      h1 {
        font-size: 1.7rem;
      }

      &__wrapper {
        position: relative;
        --auto-grid-min-size: 17rem;
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(
          auto-fill,
          minmax(var(--auto-grid-min-size), 1fr)
        );

        &__notFound {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
}
