@import "variables";

@mixin link($hoverColor: white) {
  text-decoration: none;
  color: $navbar-link-primary;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $hoverColor;
    transition: 0.2s ease-in-out;
  }
}

@mixin centerFlex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin text-divider($gap) {
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: silver;
    flex-grow: 1;
  }

  &::before {
    margin-right: $gap;
  }

  &::after {
    margin-left: $gap;
  }
}

@mixin filter-tag {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

@mixin checkbox {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.1rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.041);
  }

  label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
  }

  input {
    cursor: pointer;
    padding: 1rem;
    width: 17px;
    height: 17px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@mixin loadAnimation {
  background: linear-gradient(
    120deg,
    #161616 10%,
    #1f1f1f 35%,
    #1f1f1f 40%,
    #161616 48%
  );
  animation: shimmer 2s infinite reverse;
  background-size: 200% 100%;
}

@mixin formButton(
  $width: fit-content,
  $height: auto,
  $textColor: white,
  $bgColor: #1d1d1d,
  $hoverColor: darken(#1d1d1d, 7%),
  $borderColor: #ffffff75
) {
  @include centerFlex(row);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 10px;
  width: $width;
  height: $height;
  color: $textColor;
  background-color: $bgColor;
  border: 1px solid $borderColor;
  transition: 0.2s ease-in-out;

  &:hover {
    transition: 0.2s ease-in-out;
    background-color: $hoverColor;
  }

  &:disabled {
    transition: 0.2s ease-in-out;
    opacity: 0.4;
    pointer-events: none;
  }

  img {
    max-width: 20px;
  }
}

@mixin errorMessage {
  font-size: 0.9rem;
  font-weight: 400;
  color: $danger-medium;
}

@mixin inputError{
  border: 1px solid darken($danger-medium, 10%) !important;
  background-color: rgba($danger-medium, .15) !important;
  transition: 0.2s ease-in-out; 
}
