@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

*::selection{
    color: rgb(75, 189, 255);
    background-color: rgba(39, 223, 255, 0.274);
}