@import "../../../styles/mixins";
@import "../../../styles/variables";

.search {
    max-width: 300px;
    width: 100%;

    &__searchInput {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.7rem;
      position: relative;
      border-radius: 10px;
      height: 40px;
      overflow: hidden;

      svg {
        position: absolute;
        z-index: 1;
        &:nth-child(3){
            cursor: pointer;
            right: 1rem;
            transition: 0.2s ease-in-out;
            display: none;

            &:hover{
                opacity: .7;
                transition: 0.2s ease-in-out;
            }
        }
      }

      &:hover svg:nth-child(3){
        display: flex;
        transition: 0.2s ease-in-out;
      }

      input {
        color: white;
        padding: 0 1rem 0 2.5rem;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: #202024;
        transition: 0.2s ease-in-out;

        &:focus {
          transition: 0.2s ease-in-out;
          background-color: rgb(49, 49, 49);
        }
      }
    }
  }