@import "../../../styles/mixins";
@import "../../../styles/variables";

.sortBy {
    position: relative;
    max-width: 190px;
    width: 100%;
    z-index: 3;
    &__toggle {
      user-select: none;
      cursor: pointer;
      font-size: 0.9rem;
      padding: 0.45rem 0.5rem 0.45rem 1rem;
      background-color: #202024;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      gap: 0.3rem;
      @include centerFlex(row);
      justify-content: space-between;
      &:hover {
        transition: 0.2s ease-in-out;
        background-color: rgb(49, 49, 49);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &__active {
      max-width: 190px;
      width: 100%;
      position: absolute;
      top: 3rem;
      list-style-type: none;

      li {
        width: 100%;
        transition: 0.2s ease-in-out;
        background-color: #202024;

        &:hover{
            transition: 0.2s ease-in-out;
            background-color: rgb(12, 12, 12);
        }
        
        button {
          cursor: pointer;
          width: 100%;
          padding: 0.5rem;
          border: none;
          background-color: transparent;
          color: white;
        }
      }
    }
  }